/*Déclaration de variable couleur dans la pseudo-classe root*/
:root {
  --clear_blue: #deebff;
  --blue: #0065fc;
  --gray: #f2f2f2;
}

/*Style Général*/
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
}

/*Style HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 96%;
  margin: 0 auto;
}

.logo {
  padding: 1rem 1rem 1rem 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0rem;
}

.navbar li {
  margin-right: 3rem;
  padding: 2rem 0;
  font-weight: 500;
}

.navbar li:hover {
  border-top: 0.2rem solid var(--blue);
  color: var(--blue);
  padding: 1.8rem 0;
}

.navlink {
  color: inherit;
  text-decoration: none;
}

.subscribe_link {
  color: var(--blue);
  text-decoration: none;
  font-weight: 800;
}

/*header sur écran mobile*/

@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .logo {
    margin: 1rem 0 0 2rem;
  }

  nav {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
  }

  .navbar {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .navbar li {
    margin: auto;
    padding: 2rem 0;
    font-weight: 500;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    border-bottom: 0.2rem solid var(--gray);
  }

  .navbar li:hover {
    border-top: none;
    border-bottom: 0.2rem solid var(--blue);
    color: var(--blue);
    padding: 2rem 0;
  }

  .subscribe {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 3%;
    top: 5%;
  }

  .subscribe_link {
    color: var(--blue);
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
  }
}

/*STYLE SEARCH */

.container_search {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0 auto;
}

/*Style search : titre et formulaire*/
.search_title h1 {
  font-weight: 800;
}
.search_title p {
  font-weight: 500;
}

form {
  display: flex;
}

.search_locate_logo {
  background-color: var(--gray);
  padding: 1rem;
  border: 0.1rem solid var(--gray);
  border-radius: 1rem 0 0 1rem;
}

.search_text {
  width: 15rem;
  border-top: 0.1rem solid var(--gray);
  border-bottom: 0.1rem solid var(--gray);
  border-left: none;
  border-right: none;
  font-size: 1.3rem;
  outline: none;
}

.search_text::placeholder {
  font-weight: 800;
  font-size: 1rem;
  padding: 1rem;
  color: black;
}

.search_submit {
  width: 7rem;
  border: none;
  background-color: var(--blue);
  border-radius: 0 1rem 1rem 0;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.search_submit:hover {
  opacity: 0.8;
}

.search_button {
  display: none;
}

/*Style search : Filtre et information*/

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 0;
}

.filters_title {
  font-weight: 800;
}

.filters_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1.5rem;
}

.filters_list li {
  list-style-type: none;
  margin-right: 1.5rem;
  border: 0.2rem solid var(--gray);
  border-radius: 5rem;
  font-size: 1rem;
  padding-right: 1rem;
  font-weight: 800;
  cursor: pointer;
  transition: transform 300ms;
}

.filters_list li:hover {
  transform: scale(1.1);
}

.filters_list i {
  color: var(--blue);
  background-color: var(--clear_blue);
  border-radius: 100%;
  margin: -0.2rem 1rem -0.2rem -0.2rem;
  padding: 1.1rem;
  width: 1.1rem;
  height: 1.1rem;
  text-align: center;
}

.information {
  display: flex;
  justify-content: flex-start;
}
.information i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: var(--blue);
  border: 0.2rem solid var(--gray);
  border-radius: 100%;
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
  min-width: 0.5rem;
  min-height: 0.5rem;
}

.information span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
}

/*Style search sur tablette*/

@media screen and (min-width: 768px) and (max-width: 965px) {
  .filters_list li {
    margin-bottom: 1rem;
  }
  .information {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 940px) {
  .filters_list {
    padding-left: 0;
  }
}

/*Style search sur mobile*/

@media screen and (max-width: 767px) {
  .filters_list li {
    margin-bottom: 1rem;
  }
  .search_submit {
    display: none;
  }

  .search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    border: none;
    background-color: var(--blue);
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  .search_button:hover {
    opacity: 0.8;
  }
}

/*STYLE HOSTING*/
.main {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 3rem auto;
}

.hosting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--gray);
  border-radius: 1.5rem;
  width: 70%;
}
.hosting h1 {
  margin: 3rem 0 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 800;
}
.hosting_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 96%;
  margin: 0 auto;
}
.hosting_cards_1,
.hosting_cards_2,
.hosting_cards_3,
.hosting_cards_4,
.hosting_cards_5,
.hosting_cards_6 {
  width: 30%;
  height: 13.5rem;
  border-radius: 1.5rem;
  margin: 1rem auto;
  padding: 0.3rem;
  background-color: white;
  box-shadow: 0 0 15px rgb(200, 200, 200);
  cursor: pointer;
}
article {
  transition: transform 0.3s;
}
article:hover {
  transform: scale(1.03);
}
.card_image {
  width: 100%;
  height: 60%;
  margin: 0 auto;
}
.card_image img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.card_text {
  height: 40%;
  width: 100%;
  margin-left: 1rem;
  box-sizing: border-box;
}
.card_text h3 {
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.card_text p {
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}
.card_text span {
  font-weight: 800;
}
.stars {
  color: var(--blue);
}
.stars i {
  width: 0.3rem;
  height: 0.3rem;
  margin: 0.3rem;
}
.hosting_cards_1 i:nth-child(5) {
  color: rgb(200, 200, 200);
}
.hosting_cards_3 i:nth-child(5) {
  color: rgb(200, 200, 200);
}
.hosting_cards_4 i:nth-child(4) {
  color: rgb(200, 200, 200);
}
.hosting_cards_4 i:nth-child(5) {
  color: rgb(200, 200, 200);
}
.hosting_cards_5 i:nth-child(5) {
  color: rgb(200, 200, 200);
}
.hosting h2 {
  margin: 2rem auto 3rem 2rem;
  cursor: pointer;
}
/*STYLE ASIDE*/
.popular {
  background-color: var(--gray);
  border-radius: 1.5rem;
  width: 28%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.popular_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 2rem 1rem 2rem;
}
.popular_title h1 {
  font-size: 1.4rem;
  font-weight: 800;
}
.increase_logo i {
  font-size: 1.5rem;
}
.popular_cards {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular_cards_1,
.popular_cards_2,
.popular_cards_3 {
  width: 94%;
  margin: 2rem auto;
  height: 10rem;
  border-radius: 1.5rem;
  padding: 0.3rem;
  background-color: white;
  box-shadow: 0 0 15px rgb(200, 200, 200);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
}
.popular_cards .card_image {
  flex: 2;
  height: 100%;
  width: 100%;
}
.popular_cards img {
  border-radius: 1.5rem 0 0 1.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular_cards .card_text {
  display: flex;
  flex-direction: column;
  flex: 3;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.popular_stars {
  margin: auto auto 0.5rem 0;
}

/*STYLE HOSTING ET ASIDE sur tablette*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .popular {
    width: 100%;
    margin-bottom: 2rem;
  }
  .popular_title {
    margin: 2rem 2rem 1rem 2rem;
  }
  .popular_cards {
    flex-direction: row;
  }
  .popular_cards_1,
  .popular_cards_2,
  .popular_cards_3 {
    width: 95%;
    margin-bottom: 2rem;
    height: 10rem;
  }
  .popular_stars {
    margin: auto auto 0.2rem 0;
  }
  .hosting {
    width: 100%;
  }
}

/*STYLE HOSTING ET ASIDE sur phone*/

@media screen and (max-width: 767px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .popular {
    width: 100%;
    margin-bottom: 2rem;
  }
  .popular_cards {
    flex-direction: column;
  }
  .popular_cards_1,
  .popular_cards_2,
  .popular_cards_3 {
    width: 96%;
    margin: 0 auto 2rem auto;
    height: 10rem;
  }
  .hosting {
    width: 100%;
  }
  .hosting_cards {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .hosting_cards_1,
  .hosting_cards_2,
  .hosting_cards_3,
  .hosting_cards_4,
  .hosting_cards_5,
  .hosting_cards_6 {
    width: 90%;
    height: 13.5rem;
    margin: 1rem auto;
  }
}
