/*Déclaration de variable couleur dans la pseudo-classe root*/
:root {
  --clear_blue: #deebff;
  --blue: #0065fc;
  --gray: #f2f2f2;
}

/*Style Général*/
body {
  /* RV privilégier les class: body non concerné*/
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
}

/*Style HEADER*/
.header {
  /* RV privilégier les class*/ /*joan : correction OK*/
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 96%;
  margin: 0 auto;
}

.logo {
  padding: 1rem 1rem 1rem 0;
}

.navbar {
  /* RV privilégier les class*/ /*joan : correction OK*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0rem;
}

.navbarList li {
  margin-right: 3rem;
  padding: 2rem 0;
  font-weight: 500;
}

.navbarList li:hover {
  border-top: 0.2rem solid var(--blue);
  color: var(--blue);
  padding: 1.8rem 0;
}

.navLink {
  color: inherit;
  text-decoration: none;
}

.subscribeLink {
  color: var(--blue);
  text-decoration: none;
  font-weight: 800;
}

/*header sur écran mobile*/

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .logo {
    margin: 0 0 0 2rem;
  }

  .navbar {
    /* RV privilégier les class*/ /*joan : correction OK*/
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
  }

  .navbarList {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .navbarList li {
    margin: auto;
    padding: 2rem 0;
    font-weight: 500;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    border-bottom: 0.2rem solid var(--gray);
  }

  .navbarList li:hover {
    border-top: none;
    border-bottom: 0.2rem solid var(--blue);
    color: var(--blue);
    padding: 2rem 0;
  }

  .subscribe {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 3%;
    top: 5%;
  }

  .subscribeLink {
    color: var(--blue);
    text-decoration: none;
    font-weight: 800;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-top: -0.65rem;
  }
}

/*STYLE SEARCH */

.containerSearch {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0 auto;
}

/*Style search : titre et formulaire*/
.searchTitle h1 {
  font-weight: 800;
}
.searchTitle p {
  font-weight: 500;
  font-size: 1rem;
}

.form {
  display: flex;
}

.searchLocateLogo {
  background-color: var(--gray);
  padding: 1rem;
  border: 0.1rem solid var(--gray);
  border-radius: 1rem 0 0 1rem;
}

.searchText {
  width: 15rem;
  border-top: 0.1rem solid var(--gray);
  border-bottom: 0.1rem solid var(--gray);
  border-left: none;
  border-right: none;
  font-size: 1.3rem;
  outline: none;
}

.searchText::placeholder {
  font-weight: 800;
  font-size: 1rem;
  padding: 1rem;
  color: black;
}

.searchSubmit {
  width: 7rem;
  border: none;
  background-color: var(--blue);
  border-radius: 0 1rem 1rem 0;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.searchSubmit:hover {
  opacity: 0.8;
}

.searchButton {
  /* camelCase pour nommé les class searchButton*/
  display: none;
}

/*Style search : Filtre et information*/

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 0;
}

.filtersTitle {
  font-weight: 800;
}

.filtersList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1.5rem;
}

.filtersList li {
  list-style-type: none;
  margin-right: 1.5rem;
  border: 0.2rem solid var(--gray);
  border-radius: 5rem;
  font-size: 1rem;
  padding-right: 1rem;
  font-weight: 800;
  cursor: pointer;
  transition: transform 300ms;
}

.filtersList li:hover {
  transform: scale(1.1);
}

.filtersList i {
  color: var(--blue);
  background-color: var(--clear_blue);
  border-radius: 100%;
  margin: -0.2rem 1rem -0.2rem -0.2rem;
  padding: 1.1rem;
  width: 1.1rem;
  height: 1.1rem;
  text-align: center;
}

.information {
  display: flex;
  justify-content: flex-start;
}
.information i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: var(--blue);
  border: 0.2rem solid var(--gray);
  border-radius: 100%;
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
  min-width: 0.5rem;
  min-height: 0.5rem;
}

.information span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
}

/*Style search sur tablette*/

@media screen and (min-width: 768px) and (max-width: 965px) {
  .filtersList li {
    margin-bottom: 1rem;
  }
  .information {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 940px) {
  .filtersList {
    padding-left: 0;
  }
}

/*Style search sur mobile*/

@media screen and (max-width: 767px) {
  .filtersList li {
    margin-bottom: 1rem;
  }
  .searchSubmit {
    display: none;
  }

  .searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    border: none;
    background-color: var(--blue);
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  .searchButton:hover {
    opacity: 0.8;
  }
}

/*STYLE HOSTING*/
.main {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 3rem auto;
}

.hosting {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  border-radius: 1.5rem;
  width: 70%;
}
.hosting h2 {
  margin: 3rem 0 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 800;
}
.hostingCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 96%;
  margin: 0 auto;
}
/**.hosting_cards_1,/* RV une class pour plusieurs balises HTML*/ /*Joan : correction ok*/
.hostingCard {
  /*.hostingCard*/
  width: 30%;
  height: 13.5rem;
  border-radius: 1.5rem;
  margin: 1rem auto;
  padding: 0.3rem;
  background-color: white;
  box-shadow: 0 0 15px rgb(200, 200, 200);
  cursor: pointer;
}
.animate {
  /* RV privilégier les class*/ /*Joan : correction OK*/
  transition: transform 0.3s;
}
.animate:hover {
  /* RV privilégier les class*/ /*Joan : correction OK*/
  transform: scale(1.03);
}
.cardImage {
  width: 100%;
  height: 60%;
  margin: 0 auto;
}
.cardImage img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.cardText {
  height: 40%;
  width: 100%;
  margin-left: 1rem;
  box-sizing: border-box;
}
.cardText h3 {
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.cardText p {
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}
.cardText span {
  font-weight: 800;
}
.stars {
  color: var(--blue);
}
.stars i {
  width: 0.7rem;
  font-size: 0.85rem;
}
.notation1 i:nth-child(5) {
  color: rgb(200, 200, 200);
}
.notation3 i:nth-child(5) {
  color: rgb(200, 200, 200);
}
.notation4 i:nth-child(4) {
  color: rgb(200, 200, 200);
}
.notation4 i:nth-child(5) {
  color: rgb(200, 200, 200);
}
.notation5 i:nth-child(5) {
  color: rgb(200, 200, 200);
}
.hosting h3 {
  font-weight: 800;
  cursor: pointer;
}
.hosting > h3 {
  margin-left: 2rem;
}
/*STYLE ASIDE*/
.popular {
  background-color: var(--gray);
  border-radius: 1.5rem;
  width: 28%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.popularTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 1rem 0 1rem;
}
.popularTitle h2 {
  font-size: 1.4rem;
  font-weight: 800;
  margin: 0 0;
}
.increaseLogo i {
  font-size: 1.5rem;
}
.popularCards {
  width: 98%;
  margin: 0 auto;
}
.popularCard {
  /* RV une class pour plusieurs balises HTML*/ /*Joan : correction OK*/
  width: 90%;
  margin: 2rem auto;
  height: 10rem;
  border-radius: 1.5rem;
  padding: 0.3rem;
  background-color: white;
  box-shadow: 0 0 15px rgb(200, 200, 200);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
}
.popularCard .cardImage {
  flex: 2;
  height: 100%;
}
.popularCard img {
  border-radius: 1.5rem 0 0 1.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popularCard .popularCardText {
  display: flex;
  flex-direction: column;
  flex: 3;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 1rem;
}
.popularCardText p {
  margin: 0;
}
.popularStars {
  margin: auto auto 0.5rem 0;
}

/*STYLE HOSTING ET ASIDE sur tablette*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .popular {
    width: 100%;
    margin-bottom: 2rem;
  }
  .popularTitle {
    margin: 2rem 2rem 1rem 2rem;
  }
  .popularCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .popularCard {
    width: 15rem;
    margin-bottom: 2rem;
    height: 10rem;
  }
  .popularStars {
    margin: auto auto 0.2rem 0;
  }
  .hosting {
    width: 100%;
  }
}

/*STYLE HOSTING ET ASIDE sur phone*/

@media screen and (max-width: 767px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .popular {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: unset;
  }
  .popularTitle {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .popularCards {
    flex-direction: column;
    margin-top: 2rem;
  }
  .popularCard {
    width: 90%;
    margin-top: 0;
    margin-bottom: 2rem;
    height: 10rem;
  }
  .hosting {
    width: 100%;
    background-color: unset;
  }
  .hostingCards {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .hostingCard {
    width: 90%;
    height: 13.5rem;
    margin: 1rem auto;
  }
}

/*STYLE ACTIVITY*/

.activity {
  width: 96%;
  margin: 0 auto;
}
.activity h2 {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.activityCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.activityCard {
  width: 23%;
  height: 30.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s;
}
.vieuxP:hover,/* RV à revoir*//*Joan : correction OK*/
.fortP:hover,
.ileF:hover,
.parcC:hover,
.notreD:hover,
.parcL:hover {
  transform: scale(1.02);
}
.activityCard:nth-child(1),
.activityCard:nth-child(3) {
  box-shadow: 0 0 16px rgb(200, 200, 200);
}

.activityCard:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sousCard {
  border-radius: 1.5rem;
  box-shadow: 0 0 16px rgb(200, 200, 200);
}
.fortP {
  height: 60%;
}
.ileF {
  height: 35%;
}
.activityCard:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.notreD {
  height: 47%;
}
.parcL {
  height: 47%;
}

.activityCards .cardImage {
  border-radius: 1.5rem 1.5rem 0 0;
}
.vieuxP .cardImage {
  height: 27rem;
}
.fortP .cardImage {
  height: 15rem;
}
.ileF .cardImage {
  height: 7.5rem;
}

.parcC .cardImage {
  height: 27rem;
}

.notreD .cardImage {
  /* RV class VS id*/ /*Joan : correction OK*/
  height: 11rem;
}
.parcL .cardImage {
  height: 11rem;
}
.activityCard img {
  object-fit: cover;
}
.activityCard h3 {
  font-weight: 800;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*STYLE ACTIVITY sur tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activityCards {
    margin-bottom: 0rem;
  }

  .activityCard {
    width: 48%;
    margin-bottom: 2rem;
  }
}

/*STYLE ACTIVITY sur smartphone*/
@media screen and (max-width: 767px) {
  .activity h2 {
    margin-left: 2rem;
  }
  .activityCards {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0rem;
  }

  .activityCard {
    width: 90%;
    margin-bottom: 2rem;
  }
  .vieuxP {
    /* RV class VS id*/ /*Joan : correction OK*/
    height: 14rem;
  }
  .vieuxP .cardImage {
    height: 70%;
  }
  /*.activityCard:nth-child(1) {
    height: 14rem;
  }*/
  .fortP {
    height: 14rem;
  }
  .fortP .cardImage {
    height: 70%;
  }
  .ileF {
    height: 14rem;
  }
  .ileF .cardImage {
    height: 70%;
  }
  .parcC {
    height: 14rem;
  }
  .parcC .cardImage {
    height: 70%;
  }
  .notreD {
    height: 14rem;
  }
  .notreD .cardImage {
    height: 70%;
  }
  .parcL {
    height: 14rem;
  }
  .parcL .cardImage {
    height: 70%;
  }
}

/*STYLE FOOTER*/

footer {
  background-color: var(--gray);
}
.footerLists {
  width: 80%;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}
.footerList {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footerList h3 {
  font-weight: 800;
  margin-bottom: 2rem;
}
.footerList ul {
  list-style-type: none;
  padding-left: 0;
}
.footerList li {
  margin-bottom: 1rem;
  cursor: pointer;
}

/*STYLE FOOTER sur smartphone*/
@media screen and (max-width: 767px) {
  .footerLists {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
}
